*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font), var(--secondary-font);
}

body{
    gap: 7%;
}

#disciplines_content{
    width: 400px;
}

.discipline-item a{
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    line-height: 74px;
    gap: 10px;
}

.discipline-items{
    height: 80px;
    width: 1050px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.discipline-item {
    position: relative;
    top: 20px;
    font-size: 20px;
    height: 80px;
    width: 103%;
    border-radius: 24px;
    background-color: var(--element-background-color);
    transition: all 1s ease 0s;
    box-shadow: 0px 0px 2px 0px var(--layer-color);
}

.discipline-item:active {
    transform: scale(0.85);
    transition: transform 0.75 ease;
}

.discipline-item:hover{
    box-shadow: 0px 0px 17px 0px var(--layer-color);
}

#discipline_content, ul, li{
    list-style: none;
}

.lessons-card{
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    background: var(--layer-color);
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0px 0px 7px 0px var(--layer-color);
    width: 80%;
    max-width: 700px;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 1000; 
}

.lessons-card.show{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.lessons-card.z-index-remove{
    z-index: -5;
}

.lessons-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
    margin-top: -16px;
}

.lesson-card{
    background: var(--background-color);
    color: var(--layer-color);
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.lessons-card h2{
    width: 500px;
    color: var(--text-color);
    display: flex;
}

.lesson-card:hover {
  transform: scale(1.05);
  background: var(--layer-background-color);
  color: var(--text-color);
}

.lesson-card:active{
    transform: scale(0.85);
}

.cancel-button{
    margin: 0px;
    background-color: var(--layer-color);
    border: none;
    width: 23px;
    height: 26px;
    position: relative;
    left: 97%;
    top: -35px;
}

.cancel-button:active{
    transform: scale(0.85);
}

/* Celulares até 374px */
@media (max-width: 374px) {
  .discipline-item {
    top: 1%;
    left: -2%;
    position: relative;
    width: 24%;
    font-size: 10px;
    height: 71px;
    text-align: center;
  }

  .discipline-item a {
    flex-direction: column;
    gap: 5px;
  }

  .discipline-item i{
    position: relative;
    top: 18px;
  }

  .lessons-card h2 {
    font-size: 16px;
  }

  .lesson-card {
    font-size: 13px;
    padding: 8px;
  }

  .lessons-grid {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }

  .cancel-button {
    left: 85%;
    top: -25px;
  }
}

/* Celulares de 375px até 424px */
@media (min-width: 375px) and (max-width: 424px) {
  .discipline-item {
    top: 1%;
    left: -2%;
    position: relative;
    width: 25%;
    font-size: 10px;
    height: 71px;
    text-align: center;
  }

  .discipline-item a {
    flex-direction: column;
    gap: 5px;
  }

  .discipline-item i{
    position: relative;
    top: 18px;
  }

  .lessons-card h2 {
    font-size: 16px;
  }

  .lesson-card {
    font-size: 13px;
    padding: 8px;
  }

  .lessons-grid {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }

  .cancel-button {
    left: 85%;
    top: -25px;
  }
}

/* Celulares de 376 até 451px */
@media (min-width: 376px) and (max-width: 451px) {
  .discipline-item {
    top: 1%;
    left: -2%;
    position: relative;
    width: 27%;
    font-size: 12px;
    height: 71px;
    text-align: center;
  }

  .discipline-item a {
    flex-direction: column;
    gap: 15px;
  }

  .discipline-item i{
    position: relative;
    top: 25px;
  }

  .lessons-card h2 {
    font-size: 16px;
  }

  .lesson-card {
    font-size: 13px;
    padding: 8px;
  }

  .lessons-grid {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }

  .cancel-button {
    left: 85%;
    top: -25px;
  }
}

/* Dispositivos até 765px */
@media (min-width: 765px){
    .discipline-item {
      top: 0%;
      left: -2%;
      position: relative;
      width: 60%;
      font-size: 20px;
      height: 72px;
      text-align: center;
  }

  .discipline-item a {
    flex-direction: column;
    gap: 17px;
  }

  .discipline-item i{
    position: relative;
    top: 23px;
  }

  .lessons-card h2 {
    font-size: 16px;
  }

  .lesson-card {
    font-size: 13px;
    padding: 8px;
  }

  .lessons-grid {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }

  .cancel-button {
    left: 85%;
    top: -25px;
  }

}


/*Dispositivos 1023px */
@media (min-width: 1023px){
    .discipline-item {
      top: 0%;
      left: -2%;
      position: relative;
      width: 85%;
      font-size: 20px;
      height: 72px;
      text-align: center;
  }

  .discipline-item a {
    flex-direction: column;
    gap: 17px;
  }

  .discipline-item i{
    position: relative;
    top: 23px;
  }

  .lessons-card h2 {
    font-size: 16px;
  }

  .lesson-card {
    font-size: 13px;
    padding: 8px;
  }

  .lessons-grid {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }

  .cancel-button {
    left: 85%;
    top: -25px;
  }

}


/*Dispositivos 1439px */
@media (min-width: 1439px){
    .discipline-item {
      top: 0%;
      left: -2%;
      position: relative;
      width: 122%;
      font-size: 20px;
      height: 72px;
      text-align: center;
  }

  .discipline-item a {
    flex-direction: column;
    gap: 17px;
  }

  .discipline-item i{
    position: relative;
    top: 23px;
  }

  .lessons-card h2 {
    font-size: 16px;
  }

  .lesson-card {
    font-size: 13px;
    padding: 8px;
  }

  .lessons-grid {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }

  .cancel-button {
    left: 85%;
    top: -25px;
  }

}

/*Dispositivos 1439px */
@media (min-width: 1920px){

body{
  gap: 3%;
}

.discipline-item {
  top: 0%;
  left: 1%;
  position: relative;
  width: 161%;
  font-size: 29px;
  height: 141%;
  text-align: center;
}

.discipline-item a {
  flex-direction: column;
  gap: 49px;
}

.discipline-item i{
  position: relative;
  top: 36px;
}

.lessons-card h2 {
  font-size: 16px;
}

.lesson-card {
  font-size: 13px;
  padding: 8px;
}

.lessons-grid {
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}

.cancel-button {
  left: 96%;
  top: -25px;
}

}