.format{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--element-background-color);
    color: var(--text-color);
    font-size: 14px;
    padding: 20px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px var(--layer-color);
    text-align: justify;
    font-family: var(--main-font);
    line-height: 28px;
}

.format h1{
    color: var(--text-color);
}

.download-button{
    width: 40px;
    height: 40px;
    transition: all 1s ease 0s;
}

.download-button-style{
    border: none;
    background-color: var(--element-background-color);
    width: 20px;
    height: 20px;
    transition: all 1s ease 0s;
}

.download-button-style:hover{
    box-shadow: 0px 0px 16px 3px var(--layer-color);
    cursor: pointer;
}

.download-button:active{
    transform: scale(0.92);
}