@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.format{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--element-background-color);
    color: var(--text-color);
    font-size: 14px;
    padding: 20px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px var(--layer-color);
    text-align: justify;
    font-family: var(--main-font);
    line-height: 28px;
}

