@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,600;1,600&display=swap');

:root {

    --layer-color: #2F9E41;
    --layer-background-color: #CD191E;
    --neutral-color: #0D0C0C;
    --background-color: #D9D7D7;
    --element-background-color: #19655B;
    --text-color: #D9D7D7;

    --main-font: 'Roboto', 'Newsreader', 'Open Sans', 'Rubik';
    --first-font: 'Roboto';
    --second-font: 'Newsreader';
    --third-font: 'Open Sans';
    --fourth-font: 'Rubik';
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

body {
  color: var(--text-color);
  font-family: var(--main-font);
  display: flex;
  min-height: 100vh;
  background-color: var(--background-color);
}

main {
  flex: 1;
  padding: 20px;
  margin-left: 0;
  overflow-y: auto;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--element-background-color);
    height: auto;
    min-height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
    color: var(--text-color);
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: var(--layer-color);
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: var(--layer-background-color);
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

.side-item.active a {
    color: var(--text-color);
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid var(--element-background-color);
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
    color: var(--text-color);
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: var(--layer-background-color);
    color: var(--text-color);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}