:root{
    --color-one: #2F9E41;
    --color-two: #CD191E;
    --color-five: #D9D7D7;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.little-balls {
    width: 25px;
    height: 25px;
    margin: 10px;
    list-style-type: none;
    border-radius: 50%;
    transition: 0.5s all ease;
}

.little-balls:nth-child(1) {
    background-color: var(--color-two);
    animation: ball1 1s infinite alternate;
    animation-delay: 100ms;

}

@keyframes ball1{
    0%{
        transform: translateY(-60px);
    }
    100%{
        transform: translateY(50px);
    }
}

.little-balls:nth-child(2) {
    background-color: var(--color-five);
    animation: ball2 1s infinite alternate;
    animation-delay: 200ms;

}

@keyframes ball2{
    0%{
        transform: translateY(-70px);
    }
    100%{
        transform: translateY(50px);
    }
}

.little-balls:nth-child(3) {
    background-color: var(--color-five);
    animation: ball3 1s infinite alternate;
    animation-delay: 300ms;

}

@keyframes ball3{
    0%{
        transform: translateY(-80px);
    }
    100%{
        transform: translateY(50px);
    }
}

.little-balls:nth-child(4) {
    background-color: var(--color-five);
    animation: ball4 1s infinite alternate;
    animation-delay: 400ms;

}

@keyframes ball4{
    0%{
        transform: translateY(-90px);
    }
    100%{
        transform: translateY(50px);
    }
}

.little-balls:nth-child(5) {
    background-color: var(--color-one);
    animation: ball5 1s infinite alternate;
    animation-delay: 500ms;

}

@keyframes ball5{
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(50px);
    }
}